h2 {
    color:gray;
    font-family:monospace;
    font-weight:bold;
    font-size:95pt;
    margin-left:2.5%;
    font-style:oblique;
    opacity:50%;
    
}
input,button {
    display:block;
    padding: 10px;
    border-radius: 2%;
}

form {
    border:2px solid black;
    border-radius:3%;
    display:inline-block;
    padding-top:10px;
    padding-left:10px;
    padding-right:35px;
    padding-bottom:10px;
    margin-top:10%;
    margin-left:5%;
    background-color:rgb(214, 212, 212,.6);
    scale:150%;
}

.line{
    width:100%;
    height:4px;
    background-color: black;
    opacity:50%;
    position:fixed;
    top:15%;
    left:0%;
}

body {
    background-image: url("shapelined-_JBKdviweXI-unsplash.jpg");
}