html, body {
    height:100%;
    margin:0;
}

@font-face {
    font-family: "Ubuntu";
    src: url("fonts/Ubuntu-Regular.ttf");
}
@font-face {
    font-family: "Ubuntu";
    src: url("fonts/Ubuntu-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Ubuntu";
    src: url("fonts/Ubuntu-Italic.ttf");
    font-style:italic;
}





body {
    background-image: url("./bg2.jpg");
    overflow:hidden;
}

#main {
    width: 85%;
    height: 90%;
    margin-bottom:0%;
    margin-top:2.5%;
    margin-left:10%;
    background-color: white;
    border-radius:1%;
    padding-top:1px;
    padding-left:15px;

    display:flex;
    flex-direction:column;
}

#sidebar {
    padding-top:10px;
    top:0;
    left:0;

    width:6%;
    height:90%;
    margin-top:2.5%;
    margin-left:1.5%;
    margin-right:1.5%;
    background-color:white;
    position:fixed;
    border-radius:10px;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

#img {
    width:auto;
    height:auto;
    transform: scale(.9);
    place-items:center;
    max-width: 100%;
    margin-bottom:5px;
    border: 7px solid rgba(224, 224, 224, .8);
    border-radius: 20%;
    background-color:rgba(224, 224, 224, .8);
    
}
#img:hover{
    opacity:0.5;
}

#text {
    flex: 1;
    overflow-y: auto;
    font-family: "Ubuntu";
}

#button {
    width:36px;
    height:36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom:.445%;
}
#arrow{
    height:36px;
    width:36px;
    display:flex;
}
form {
    display:flex;
    align-items: center;
    gap:6px;
}
#inp{
    width:97%;
    border-radius: 2%;
    line-height:32px;
    margin-bottom:.445%;
}