html, body {
    height:100%;
    margin:0;
}

@font-face {
    font-family: "Ubuntu";
    src: url("fonts/Ubuntu-Regular.ttf");
}
@font-face {
    font-family: "Ubuntu";
    src: url("fonts/Ubuntu-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Ubuntu";
    src: url("fonts/Ubuntu-Italic.ttf");
    font-style:italic;
}





body {
    background-image: url("./bg2.jpg");
}

#main {
    width: 85%;
    height: 90%;
    margin:5%;
    margin-top:2.5%;
    margin-left:10%;
    background-color: white;
    border-radius:1%;
    padding-top:1px;
    padding-left:15px;

    display:flex;
    flex-direction:column;
}

#text {
    flex: 1;
    overflow-y: auto;
    font-family: "Ubuntu";
}

#button {
    width:36px;
    height:36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom:.445%;
}
#arrow{
    height:36px;
    width:36px;
    display:flex;
}
form {
    display:flex;
    align-items: center;
    gap:6px;
}
#inp{
    width:97%;
    border-radius: 2%;
    line-height:32px;
    margin-bottom:.445%;
}