@font-face {
    font-family: "AuBord";
    src: url("./fonts/Au\ Bord\ de\ la\ Seine.ttf");
}

h2 {
    color:gray;
    font-family:monospace;
    font-weight:bold;
    font-size:75pt;
    margin-left:2.5%;
    font-style:oblique;
    opacity:50%;
    width:100px;
    
}
input {
    padding: 10px;
    
}

#email,
#user,
#pass {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
#email input,
#user input,
#pass input {
    display: inline-block;
    margin-left:3px;
}

img {
    height:40px;
    width:40px;
}

button {
    display:block;
    padding: 10px;
    margin-top:13px;
    border-radius: 10%;
    background-color: tomato;
    border-color:orangered;
}

button:hover{
    opacity:0.7;
}

form {
    border:2px solid rgba(255, 255, 255);
    display:inline-block;
    padding-top:10px;
    padding-left:10px;
    padding-right:35px;
    padding-bottom:10px;
    margin-top:4%;
    margin-left:5%;
    background-color:rgb(214, 212, 212,.6);
    scale:150%;
}

.line{
    width:100%;
    height:4px;
    background-color: black;
    opacity:50%;
    position:fixed;
    top:15%;
    left:0%;
}

.qoute{
    position:fixed;
    width:50%;
    top:10%;
    left:45%;
    font-family:'AuBord';
    font-size:60pt;
    color:white;
}

#error{
    color:red;
    font-weight: bold;
    
}

body {
    background-image: url("../static/bg.png");
    
}