<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="../static/chat.css">
</head>

<body>
    <div id="main">
        <p id ="text">{{text | safe}}</p>
        <form id="chat-form">
          <input type="text" name="message" placeholder="Asking Something" id="inp">
          <button type="submit" id="button"><img src="../static/arrow.png" id="arrow"></button>
        </form >
        <script>
          const form = document.getElementById("chat-form");
          const input = document.getElementById("inp");
          const output = document.getElementById("text");

          form.addEventListener("submit", (e) => {
            e.preventDefault();   // 🔴 THIS is the key line
            const value = input.value;
            input.value = ""; 
          
            fetch("/chat_update", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({ inp: value })
            })
            .then(res => {
              if (res.status === 401) {
                window.location.href = "/login";
                return;
              }
              return res.json();
            })
            .then(data => {
              if (!data) return;
              output.innerHTML = data.text;
              
            });
          });
        </script>
    </div>
    <div id="sidebar">
      <img src="../static/deepseek-color.png" id="img">
      <img src="../static/meta-color.png" id="img">
      <img src="../static/gemma-color.png" id="img">
      <img src="../static/chatgpt.png" id="img">

    </div>
  

</body>