<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="../static/home.css">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=1920">

</head>
<body>
    <h1>Village<br>AI    <img src="../static/VillageAiBig.png" id="logo"></h1>

    <div id="box">
        <h2>A Modern AI Platform</h2>
        <p>The first* platform to contain a variety of competing bleeding edge models. VillageAi contains one of the first Hierachial Ai deployed to a website, using our system we delegate each question to a more appropriate model. A jack of all trades: master at none, better than a master of one, however, our Village contains many jack's. Sign up today to get unlimited* access to our service.</p>
        <h3><a href="./create"><button>Create an account</button></a></h3>
        <h3><a href="./login"><button>Login</button></a></h3>
      </div>
</body>