<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <h2>Login</h2>


    <div class="login">
    <form method="POST" action="/login">
        <div id="user">
        <img src="../static/user.png" id="image">
        <input type="text" name="username" placeholder="Username" required>
        </div>

        <div id="pass">
        <img src="../static/password.png">
        <input type="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit">Log In</button>
        <p><a href="./create">Create an account</a></p>

    </form>
    <p class="qoute"1>"A jack of all trades is a master of none, but oftentimes better than a master of one."</p>
    </div>
</body>